<html>
    <head>
        <title>edit Riesgo</title>
    </head>
    <body>
        <form action="/update/riesgo/{{riesgo.id_Riesgo}}" method="POST"> {% csrf_token %}
        <input type="text" name="Str_Nombre" value="{{riesgo.Str_Nombre}}">
        <input type="submit" value="Enviar">
        </form>
        {% if form.errors %}
            {% for error_field, error_message in form.errors.items %}
            <div class="alert alert-danger " role="alert">
 
                <p> {{ error_field|striptags }}-{{ error_message|striptags }}</p>
 
            </div> 
            {% endfor %}
        {% endif %}
        {% if aviso %}
            <h2 style="color:green;">{{aviso}}</h2>
        {% endif %}
        <a href="/show/riesgo/{{riesgo.id_Riesgo}}">Volver atrás</a>
    </body>
</html>