{% extends '../base_index.html' %}
    {% block head %}
        <title>Indice de ambitos</title>
    {% endblock %}
   
    {% block thead %}
    <th> ID: </th>
    <th> Nombre:</th>
    <th> Ver:</th>
    <th> Editar:</th>
    <th> Eliminar:</th>
    {% endblock %}
    {% block body %}
    <a href="/new/ambito">Crear nuevo Ambito</a>
    {% endblock %}
    {% block tbody %}
        {% if ambitos %}
            {% for ambito in ambitos %}
            <tr>
                <td>{{ambito.id_am}}</td>
                <td>{{ambito.str_am_nombre}}</td>
                <td><a class="btn btn-xs glyphicon glyphicon-eye-open" href="/show/ambito/{{ambito.id_am}}"></a></td>
                <td><a class="btn btn-primary btn-xs glyphicon glyphicon-pencil" href="/edit/ambito/{{ambito.id_am}}"></a></td>
                <td><a class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="/delete/ambito/{{ambito.id_am}}"></a></td>
                
                <!--<td><a href="/show/ambito/{{ambito.id_am}}">Ver</a></td>
                <td><a href="/edit/ambito/{{ambito.id_am}}">Editar</a></td>
                <td><a href="/delete/ambito/{{ambito.id_am}}">Eliminar</a></td>-->
            </tr>
            {% endfor %}
        {% else %}
            <h2>No se han encontrado ningún ambito creado</h2>
        {% endif %}
    {% endblock %}