{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="{%static 'js/tabla_datos.js'%}" ></script>
        {% block head %}

        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% if aviso %}
            <h2 style="color:green;">{{aviso}}</h2>
        {% endif %}
        {% if eliminado %}
            <h2 style="color:red;">{{eliminado}}</h2>
        {% endif %}
        <br>
        <table id="myTable" class="display">
            <thead>
                <tr>
                {% block thead %}

                {% endblock %}
                </tr>
            </thead>
            <tbody>
                {% block tbody %}

                {% endblock %}
            </tbody>
        </table>
        <a href="/">Volver atrás</a>
    </body>
</html>