{% extends '../base_form.html' %}
    {% block head %}
        <title>edit Nivel Area Geográgica</title>
    {% endblock %}
    {% block body %}
        <form action="/update/nag/{{nag.id_nag}}" method="POST"> {% csrf_token %}
        <input type="text" name="str_nag_nombre" value="{{nag.str_nag_nombre}}">
        <input type="text" name="str_nag_descripcion" value="{% if nag.str_nag_descripcion %}{{nag.str_nag_descripcion}}{%endif%}">
        <select name="num_nag_nivel"> 
            <option  value="1">1</option>
            <option  value="2">2</option>
            <option  value="3">3</option>
            <option  value="4">4</option>
            <option  value="5">5</option>
            <option  value="6">6</option>
            <option  value="7">7</option>
            <option  value="8">8</option>
            <option  value="9">9</option>
            <option  value="10">10</option>
        </select>
        <input type="submit" value="Enviar">
        </form>
        <a href="/show/nag/{{nag.id_nag}}">Volver atrás</a>
    {% endblock %}