{% extends '../base_index.html' %}
    {% block head %}
        <title>Indice de Nivel Áreas Geográficas</title>
    {% endblock %}
    
    {% block thead %}
    <th> ID: </th>
    <th> Nombre:</th>
    <th> Ver:</th>
    <th> Editar:</th>
    <th> Eliminar:</th>
    {% endblock %}
    {% block body %}
    <a href="/new/nag">Crear nuevo Nivel Area Geográfica</a>
    {% endblock %}
    {% block tbody %}
        {% if nags %}
            {% for nag in nags %}
            <tr>
                <td>{{nag.id_nag}}</td>
                <td>{{nag.str_nag_nombre}}</td>
                <td><a class="btn btn-xs glyphicon glyphicon-eye-open" href="/show/nag/{{nag.id_nag}}"></a></td>
                <td><a class="btn btn-primary btn-xs glyphicon glyphicon-pencil" href="/edit/nag/{{nag.id_nag}}"></a></td>
                <td><a class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="/delete/nag/{{nag.id_nag}}"></a></td>
                
                <!--<td><a href="/show/ambito/{{nag.id_nag}}">Ver</a></td>
                <td><a href="/edit/ambito/{{nag.id_nag}}">Editar</a></td>
                <td><a href="/delete/ambito/{{nag.id_nag}}">Eliminar</a></td>-->
            </tr>
            {% endfor %}
        {% else %}
            <h2>No se han encontrado ningún Nivel de Áreas geográficas creado</h2>
        {% endif %}
    {% endblock %}
    