{% extends '../base_index.html' %}
    {% block head %}
        <title>Indice de Estructura</title>
    {% endblock %}
   
    {% block thead %}
    <th> ID: </th>
    <th> Nombre:</th>
    <th> Ver:</th>
    <th> Editar:</th>
    <th> Eliminar:</th>
    {% endblock %}
    {% block body %}
    <a href="/new/estructura">Crear nueva Estructura</a>
    {% endblock %}
    {% block tbody %}
        {% if estructuras %}
            {% for estructura in estructuras %}
            <tr>
                <td>{{estrcutura.id_est}}</td>
                <td>{{estructura.str_est_nombre}}</td>
                <td><a class="btn btn-xs glyphicon glyphicon-eye-open" href="/show/estructura/{{estructura.id_est}}"></a></td>
                <td><a class="btn btn-primary btn-xs glyphicon glyphicon-pencil" href="/edit/estructura/{{estructura.id_est}}"></a></td>
                <td><a class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="/delete/estructura/{{estructura.id_est}}"></a></td>
                
                <!--<td><a href="/show/ambito/{{estructura.id_est}}">Ver</a></td>
                <td><a href="/edit/ambito/{{estructura.id_est}}">Editar</a></td>
                <td><a href="/delete/ambito/{{estructura.id_est}}">Eliminar</a></td>-->
            </tr>
            {% endfor %}
        {% else %}
            <h2>No se han encontrado ninguna estrucutra creada</h2>
        {% endif %}
    {% endblock %}