<html>
    <head>
        <title>
            Estructura {{estructura.Str_Nombre}}/{{estructura.id_Estructura}}
        </title>
    </head>
    <body>
        <h2>ID: {{estructura.id_Estructura}}</h2>
        <h2>Nombre:</h2>
        <p>{{estructura.Str_Nombre}}</p>
        <br>
        <a href="/edit/estructura/{{estructura.id_Estructura}}">Editar</a>
        <a href="/delete/estructura/{{estructura.id_Estructura}}">Borrar</a>
        <br>
        <a href="/index/estructura">Volver atrás</a>
    </body>
</html>