<html>
    <head>
        <title>
            Sector {{sector.str_sc_nombre}}{{sector.id_sc}}
        </title>
    </head>
    <body>
        <h2>ID: {{sector.id_sc}}</h2>
        <h2>Nombre:</h2>
        <p>{{sector.str_sc_nombre}}</p>
        <br>
        <h2>Descripción:</h2>
        {% if sector.str_sc_descripcion %}
            <p>{{sector.str_sc_descripcion}}</p>
        {% else %}
            <p>No se ha encontrado la descripción del sector</p>
        {% endif %}
        <a href="/edit/sector/{{sector.id_sc}}">Editar</a>
        <a href="/delete/sector/{{sector.id_sc}}">Borrar</a>
        <br>
        <a href="/index/sector">Volver atrás</a>
    </body>
</html>