<html>
    <head>
        <title>new TipoObjetivo</title>
    </head>
    <body>
        <form action="/create/tipo_objetivo" method="POST"> {% csrf_token %}
        <input type="text" name="Str_Nombre">
        <input type="submit" value="Enviar">
        </form>
        <a href="/index/tipo_objetivo">Volver atrás</a>
        {% if form.errors %}
            {% for error_field, error_message in form.errors.items %}
            <div class="alert alert-danger " role="alert">
 
                <p> {{ error_field|striptags }}-{{ error_message|striptags }}</p>
 
            </div> 
            {% endfor %}
        {% endif %}
    </body>
</html>