<html>
    <head>
        <title>
            Tipo Objetivo {{tipo_objetivo.str_to_nombre}}{{tipo_objetivo.id_to}}
        </title>
    </head>
    <body>
        <h2>ID: {{tipo_objetivo.id_to}}</h2>
        <h2>Nombre:</h2>
        <p>{{tipo_objetivo.str_to_nombre}}</p>
        <br>
        <a href="/edit/tipo_objetivo/{{tipo_objetivo.id_to}}">Editar</a>
        <a href="/delete/tipo_objetivo/{{tipo_objetivo.id_to}}">Borrar</a>
        <br>
        <a href="/index/tipo_objetivo">Volver atrás</a>
    </body>
</html>