<html>
    <head>
        <title>
            Tipo Objetivo {{tipo_objetivo.Str_Nombre}}/{{tipo_objetivo.id_Tipo_Objetivo}}
        </title>
    </head>
    <body>
        <h2>ID: {{tipo_objetivo.id_Tipo_Objetivo}}</h2>
        <h2>Nombre:</h2>
        <p>{{tipo_objetivo.Str_Nombre}}</p>
        <br>
        <a href="/edit/tipo_objetivo/{{tipo_objetivo.id_Tipo_Objetivo}}">Editar</a>
        <a href="/delete/tipo_objetivo/{{tipo_objetivo.id_Tipo_Objetivo}}">Borrar</a>
        <br>
        <a href="/index/tipo_objetivo">Volver atrás</a>
    </body>
</html>