<html>
    <head>
        <title>
            Tipo Interviniente {{tipo_interviniente.str_ti_nombre}}{{tipo_interviniente.id_ti}}
        </title>
    </head>
    <body>
        <h2>ID: {{tipo_interviniente.id_ti}}</h2>
        <h2>Nombre:</h2>
        <p>{{tipo_interviniente.str_ti_nombre}}</p>
        <br>
        <a href="/edit/tipo_interviniente/{{tipo_interviniente.id_ti}}">Editar</a>
        <a href="/delete/tipo_interviniente/{{tipo_interviniente.id_ti}}">Borrar</a>
        <br>
        <a href="/index/tipo_interviniente">Volver atrás</a>
    </body>
</html>